################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/checkpoints
*.pyc
*.bak
*.aria2
*.cfg
/mount_blobs.sh
